@import './sass/bootstrap';
@import './sass/register';
@import './sass/screen-loader';
@import './sass/profile';
@import './sass/dashboard';



#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}